@page "{message}"
@model VideoStore.Pages.Videos.VideoErrorModel
@{
    ViewData["Title"] = "VideoError";
}

<h1>Error</h1>

<div>@Model.Message</div>

<a asp-page="./List" class="btn alert-info">Back to Video List</a>